td.boxheaderr { /* вариант, фио и прочее */ 

    text-align:right;
    font-family: sans-serif;
    font-style: italic;
    font-size:larger;

    background-color: rgb(101, 50, 57);
    color: rgb(255, 255, 255);
   }
td.boxheaderl {     

    text-align:left;
    font-family: sans-serif;
    font-style: italic;
    font-size:larger;

    background-color: rgb(101, 50, 57);
    color: rgb(255, 255, 255);
   }